@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300,500,600,700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --gradient-start: hsl(249, 99%, 64%);
  --gradient-end: hsl(278, 94%, 30%);
  --red-error: hsl(0, 100%, 66%);
}

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 500;
  width: 100%;
  height: 100vh;
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: row;
}

.left-overlay {
  background-image: url('./images/bg-main-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 60%;
  min-width: 300px;
}

.left-overlay__card-back, .left-overlay__card-front {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 24px 24px;
  width: 447px;
  height: 245px;
}

.left-overlay__card-front {
  background-image: url('./images/bg-card-front.png');
  position: absolute;
  left: 20%;
  top: 28%;
}

.card-front__container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  justify-content: end;
  align-items: center;
  padding: 20px 0;
  color: var(--white);
}

.card-front__logo {
  display: flex;
  align-items: center;
  position: absolute;
  left: 6%;
  top: 10%;
}

.card-front__logo .big-circle {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--white);
}

.card-front__logo .small-circle {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  border: 1px solid var(--white);
  margin-left: 15px;
}

.card-front__top {
  width: 100%;
  margin-bottom: 25px;
  letter-spacing: 7px;
  font-size: 1.5rem;
}

.card-front__bottom {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
  font-weight: 300;
}

.left-overlay__card-back {
  background-image: url('./images/bg-card-back.png');
  position: absolute;
  left: 25%;
  top: 55%;
}

.card-back__container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 87%;
  height: 100%;
}

.card-back__cvv {
  color: var(--white);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.right-overlay {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-form {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  height: 100%;
}

.card-form__input-group input[type="text"],
.card-form__input-group input[type="number"] {
  border-radius: 4px;
  padding: 15px;
  margin-top: 8px;
  border: 1px solid var(--light-grayish-violet);
  flex: 1;
}

.card-form__input-group input[type="text"]::placeholder,
.card-form__input-group input[type="number"]::placeholder {
  color: var(--dark-grayish-violet);
  letter-spacing: 0.5px;
  font-size: 1rem;
}

.card-form__input-group {
  flex: 1;
  color: var(--very-dark-violet);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.7rem;
  letter-spacing: 1.5px;
  margin-top: 20px;
}

.offboarding button,
.card-form button {
  margin-top: 40px;
  width: 100%;
  height: 48px;
  background-color: var(--very-dark-violet);
  color: var(--white);
  font-weight: 500;
  letter-spacing: 1.5px;
  outline: none;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

@media (max-width: 780px)  {
  .container {
    flex-direction: column;
  }
  .left-overlay {
    width: 100vw;
    height: 25%;
  }

  .left-overlay__card-front, .left-overlay__card-back {
    max-width: 365px;
    max-height: 200px;
    border-radius: 8px;
    background-size: contain;
  }

  .left-overlay__card-front {
    top: 12%;
    left: 4%;
    z-index: 10;
  }

  .left-overlay__card-back {
    top: 2.5%;
    left: 30%;
    z-index: 0;
  }

  .left-overlay__card-front .card-front__number {
    letter-spacing: 4px;
  }

  .card-form {
    margin-top: 70px;
  }
}

.offboarding {
  width: 300px;
  justify-content: center;
  align-items: center;
}

.offboarding__logo {
  width: 70px;
  height: 70px;
  background-image: linear-gradient(140deg, var(--gradient-start), var(--gradient-end));
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white);
  font-size: 1.5rem;
}

.offboarding__heading {
  color: var(--very-dark-violet);
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.2px;
  font-weight: 500;
  margin-top: 30px;
}

.offboarding__subtitle {
  color: var(--dark-grayish-violet);
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 1.1px;
  margin-top: 20px;
}

.offboarding button  {
  margin-top: 50px;
  width: 350px;
}

/* utility classes */
.w-50 {
  width: 50%;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}